<div class="grid-container grid-container--tech">
  <h1 class="numbered-title"><span aria-hidden="true">03</span> Space launch 101</h1>

  <img src="assets/technology/image-spaceport-landscape.jpg" alt="">

  <div class="flex btns">
    <button class="fs-600">1</button>
    <button class="fs-600 active">2</button>
    <button class="fs-600">3</button>
  </div>

  <article class="tech-details flow">
    <header class="flow flow--space-small">
      <h2 class="fs-200 ff-sans-cond text-accent uppercase letter-spacing-3">The terminology...</h2>
      <p class="fs-700 uppercase ff-serif">spaceport</p>
    </header>
    <p class="text text-accent">A spaceport or cosmodrome is a site for launching (or receiving) spacecraft, by analogy to the seaport for ships or
      airport for aircraft. Based in the famous Cape Canaveral, our spaceport is ideally situated to take advantage of the
      Earth’s rotation for launch.
    </p>
  </article>
</div>

