h1 {
  text-align: center;
}

button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid hsl( var(--clr-white) / .5);
  color: hsl( var(--clr-white));
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

button:hover {
  background-color: hsl( var(--clr-white) / .5);
}

.flex > .active {
  background-color: hsl( var(--clr-white));
  color: hsl( var(--clr-dark));
}


.text {
  line-height: 1.563;
}

.flex {
  justify-content: center;
}

.tech-details {
  margin: 0 1rem;
  text-align: center;
}

.grid-container {
}

.grid-container--tech {
  padding: 0;
  grid-template-areas:
        'title'
        'image'
        'tabs'
        'content';
}

.grid-container--tech > h1 {
  grid-area: title;
}

.grid-container--tech > img {
  grid-area: image;
}

.grid-container--tech > .btns {
  grid-area: tabs;
}

.grid-container--tech > .tech-details {
  grid-area: content;
}

