.grid-container--tech {
  padding: 0;
  grid-template-areas:
        'title'
        'image'
        'tabs'
        'content';
}

.grid-container--tech > picture > img {
  height: 100%;
  width: 100%;
  grid-area: image;
}


.buttons {
  align-self: start;
  grid-area: tabs;
  margin-bottom: 2rem;
}

.tech-details {
  grid-area: content;
  align-self: start;
}

.grid-container {
  grid-template-rows:60px auto 60px 230px;
}

h1 {
  text-align: center;
}

button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid hsl( var(--clr-white) / .5);
  color: hsl( var(--clr-white));
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

button:hover {
  background-color: hsl( var(--clr-white) / .5);
}

.buttons > .active {
  background-color: hsl( var(--clr-white));
  color: hsl( var(--clr-dark));
}

.text {
  line-height: 1.563;
  margin-top: 1rem;
}

.buttons {
  justify-content: center;
}

.tech-details {
  margin: 0 1rem;
  text-align: center;
}

@media (min-width: 35em) {
  .grid-container {
    grid-template-rows: auto auto auto auto;
  }

  .numbered-title {
    justify-self: start;
    margin-left: 2.5rem;
    font-size: 20px;
    letter-spacing: 3.38px;
  }

  .grid-container--tech > picture {
    height: 90%;
  }

  .buttons {
    align-self: end;
  }

  .con {
    flex-direction: column;
  }

  .tech-details {
    margin: 3rem 10rem 0;
  }

  button {
    width: 70px;
    height: 70px;
    font-size: 24px;
  }

  h2, p {
    font-size: 1rem;
  }

  .space-port {
    font-size: 40px;
  }
}

@media (min-width: 55em) {
  .con {
    grid-area: con;
    display: flex;
    flex-direction: row;
    align-self: start;
    margin-top: 6rem;
  }

  .buttons {
    flex-direction: column;
  }

  .con .buttons {
    align-self: center;
  }

  .numbered-title {
    margin: 0;
    font-size: 28px;
  }

  .grid-container--tech > picture {
    grid-area: image;
    height: 80%;
    align-self: start;
  }

  .tech-details {
    margin: 0 7.5rem 0 5rem;
  }

  button {
    width: 80px;
    height: 80px;
    font-size: 32px;
  }

  h2, p {
    text-align: left;
  }

  p {
    font-size: 18px;
  }

  .space-port {
    font-size: 56px;
  }

  .grid-container--tech {
    grid-template-areas:
            '. title title .'
            '. con image .'
            '. con image .';
  }
}



